// 修改系统组件：antd的样式
.leftTool {
  :global {
    .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-tab {
      padding: 8px;
      justify-content: center;
    }
    .ant-tabs-tab .anticon:not(:last-child) {
      margin-right: 0;
    }
  }
}
// 组件大纲
.outlinePanel {
  height: calc(100vh - 110px);
  overflow-y: auto;
  :global {
    .ant-tree .ant-tree-node-selected {
      background-color: #9d5cff;
      color: #fff;
    }
  }
}

.itemContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  cursor: move;
  border-radius: 8px;
  padding: 4px 2px;
  border: 1px solid transparent;
  transition: all 0.3s;

  &:hover {
    // border: 1px dashed #9d5cff;
    transform: scale(1.05);
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #f0f0f1;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    transition: all 0.3s;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .itemName {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 8px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
  }
}
