@primary-color: #7d3fff;
@text-color: #ffffff;

.container {
  height: calc(100vh - 64px);
  // background-color: #f0f2f5;
  padding: 24px;
  margin: 0 auto;
  max-width: 1024px;
  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  /* 隐藏滚动条 - Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card {
  // max-width: 800px;
  margin: 0 auto;
}

.title {
  // font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 16px;
}

.alertList {
  list-style-type: none;
  padding-left: 0;
  color: #faad14;
}

.content {
  margin-top: 24px;
}

.titleInput {
  // margin-bottom: 16px;
  color: #000;

  &::placeholder {
    color: #8c8c8c;
  }

  &:focus,
  &:hover {
    border-color: @primary-color;
  }
}

.editor {
  position: relative;
  min-height: 200px;
  padding: 16px 16px 20px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  // margin-bottom: 16px;

  &:focus {
    outline: none;
    border-color: @primary-color;
  }

  &:empty::before {
    content: attr(data-placeholder);
    color: #aaa;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    content: attr(data-append-placeholder);
    color: #aaa;
    position: absolute;
    left: 8px;
    bottom: 2px;
    font-size: 12px;
    clear: both;
  }
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* 确保宽高比为1:1 */
  overflow: hidden; /* 隐藏溢出的部分 */
}

.image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

.removeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #8c8c8c;
}
.imageTip {
  color: #8c8c8c;
  margin-top: -14px;
  margin-bottom: 16px;
}
.imageUploadTip {
  display: flex;
  align-items: center;
  color: #8c8c8c;
  margin-bottom: 16px;

  span {
    margin-left: 8px;
  }
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

:global {
  .ant-tabs-tab {
    color: #8c8c8c;
    &.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: @primary-color;
      }
    }
  }

  .ant-tabs-ink-bar {
    background-color: @primary-color;
  }

  .ant-btn-primary {
    background-color: #ff6b6b !important;
    border-color: #ff6b6b !important;

    &:hover,
    &:focus {
      background-color: lighten(@primary-color, 10%);
      border-color: lighten(@primary-color, 10%);
    }
  }
}

.richTextQuill {
  :global {
    // 解决 quill 编辑器高度问题（总高度去掉工具条的高度）
    .ql-container {
      height: calc(100% - 43px);
    }
  }
}

