.event {
  text-align: center;
  margin-bottom: 16px;
}
.title {
  display: flex;
  justify-content: space-between;
  background: var(--mars-theme-bg-color);
  border-top: 1px solid var(--mars-theme-card-border-color);
  color: var(--mars-theme-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 20px;
  padding: 0 10px;
  span {
    &:last-child {
      line-height: 30px;
    }
  }
}
.ml5 {
  margin-left: 5px;
}
.addAction {
  text-align: center;
  line-height: 30px;
}
.eventFlow {
  color: #656565;
  margin-bottom: 20px;
}
