<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.FireflyMapper">

    <resultMap id="BaseResultMap" type="com.marsview.domain.Firefly">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="time" column="time" jdbcType="SMALLINT"/>
            <result property="skill" column="skill" jdbcType="VARCHAR"/>
            <result property="sales" column="sales" jdbcType="FLOAT"/>
            <result property="area" column="area" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        avatar,time,skill,
        sales,area,status,
        updated_at,created_at
    </sql>
</mapper>
