<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.LibMapper">

    <resultMap id="BaseResultMap" type="com.marsview.domain.Lib">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tag" column="tag" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="reactCode" column="react_code" jdbcType="VARCHAR"/>
            <result property="lessCode" column="less_code" jdbcType="VARCHAR"/>
            <result property="configCode" column="config_code" jdbcType="VARCHAR"/>
            <result property="mdCode" column="md_code" jdbcType="VARCHAR"/>
            <result property="hash" column="hash" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tag,name,
        description,react_code,less_code,
        config_code,md_code,hash,
        user_id,user_name,updated_at,
        created_at
    </sql>
</mapper>
