<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.LibPublishMapper">

    <resultMap id="BaseResultMap" type="com.marsview.domain.LibPublish">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="releaseId" column="release_id" jdbcType="VARCHAR"/>
            <result property="libId" column="lib_id" jdbcType="VARCHAR"/>
            <result property="reactUrl" column="react_url" jdbcType="VARCHAR"/>
            <result property="cssUrl" column="css_url" jdbcType="VARCHAR"/>
            <result property="configUrl" column="config_url" jdbcType="VARCHAR"/>
            <result property="releaseHash" column="release_hash" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,release_id,lib_id,
        react_url,css_url,config_url,
        release_hash,user_id,user_name,
        count,updated_at,created_at
    </sql>
</mapper>
