<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.ProjectsMapper">

    <resultMap id="BaseResultMap" type="com.marsview.domain.Projects">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="appid" column="appid" jdbcType="VARCHAR"/>
            <result property="logo" column="logo" jdbcType="VARCHAR"/>
            <result property="visitType" column="visit_type" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="isPublic" column="is_public" jdbcType="INTEGER"/>
            <result property="breadcrumb" column="breadcrumb" jdbcType="INTEGER"/>
            <result property="layout" column="layout" jdbcType="INTEGER"/>
            <result property="menuMode" column="menu_mode" jdbcType="VARCHAR"/>
            <result property="menuThemeColor" column="menu_theme_color" jdbcType="VARCHAR"/>
            <result property="tag" column="tag" jdbcType="INTEGER"/>
            <result property="footer" column="footer" jdbcType="INTEGER"/>
            <result property="systemThemeColor" column="system_theme_color" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,updated_at,
        created_at,remark,appid,
        logo,visit_type,user_name,
        user_id,is_public,breadcrumb,
        layout,menu_mode,menu_theme_color,
        tag,footer,system_theme_color
    </sql>
</mapper>
