<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marsview.mapper.UsersMapper">

  <resultMap id="BaseResultMap" type="com.marsview.domain.Users">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    <result property="userPwd" column="user_pwd" jdbcType="VARCHAR"/>
    <result property="teamId" column="team_id" jdbcType="INTEGER"/>
    <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,user_name,user_pwd,
    team_id,updated_at,created_at
  </sql>
  <select id="selectList" resultType="com.marsview.domain.Users">
    SELECT * FROM users
  </select>
</mapper>
