.designer {
  .designerHeader {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px 1px;
    .circle {
      border: 1px solid rgba(0, 0, 0, 0.6);
      background-color: #fff;
      color: #000;
    }
  }
  .designerContent {
    height: calc(100vh - 112px);
    overflow: auto;
  }
}
