.searchForm {
  background-color: var(--mars-theme-color);
  padding: 20px;
  border-radius: 5px;
  color: #000;
  margin-bottom: 20px;
}
.base-table {
  background-color: var(--mars-theme-color);
  border-radius: 5px;
  color: var(--mars-theme-text-color);
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    .action button {
      margin-left: 15px;
    }
  }
  .table-wrapper {
    padding-inline: 15px;
    padding-bottom: 15px;
  }
}
