.layout {
  max-width: 1024px;
  margin: 0 auto;
  height: calc(100vh - 64px);
  background-color: transparent;
  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  /* 隐藏滚动条 - Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.content {
  padding: 24px;
}

.header {
  background: linear-gradient(to right, rgba(168, 224, 99, 0.7), rgba(255, 105, 180, 0.6), rgba(147, 112, 219, 0.5));
  border-radius: 16px;
  padding: 24px;
  color: #fff;
  margin-bottom: 24px;

  .headerLeft {
    flex: 1;
    .title {
      color: white !important;
      margin-bottom: 16px !important;
    }

    .tags {
      margin-bottom: 16px;
    }

    .description {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 10px;
    }
  }

  .headerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;

    .statCard {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      padding: 8px 16px;
      margin-bottom: 8px;
      min-width: 80px;
      min-height: 80px;
      text-align: center;
    }

    .statNumber {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      display: block;
    }

    .statLabel {
      font-size: 14px;
      color: #fff;
    }
  }
  .headerActions {
    margin-top: 10px;
  }
}

.tabsContainer {
  border-radius: 16px;
  padding: 16px;

  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}

.searchInput {
  border-radius: 8px;
  width: 350px;

  :global {
    .ant-input-prefix {
      color: #888;
    }
  }
}

.listContent {
  padding: 16px;
  min-height: 200px;
}

.qaCard {
  background-color: var(--mars-theme-bg-color);
  border-radius: 8px;
  border: 1px solid var(--mars-theme-border-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  width: 100%;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
}

.cardContent {
  display: flex;
  cursor: pointer;
  width: 100%;
  padding: 0 14px;

  .avatar {
    margin: 0 20px 0 5px;
    width: 50px;
  }

  .middleContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .itemTitle {
      margin: 0 0 8px;
      font-size: 16px;
      font-weight: 500;
    }

    .tag {
      background-color: #f0f0f0;
      color: #333;
      border: none;
      font-weight: 500;
      width: fit-content;
    }
  }
  .rightContent {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .userInfo {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .username {
        margin-right: 16px;
        font-weight: 500;
      }

      .publishTime {
        font-size: 12px;
        color: #888;
        text-align: right;
      }
    }
  }
}

.pageControl {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.feedbackIcon {
  position: fixed;
  right: 20px;
  top: 50%;
  width: 40px;
  height: 40px;
  color: #7d3fff;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s;
  transition: all 0.3s;
}

// 反馈悬浮图标
.feedbackIcon:hover {
  color: var(--mars-primary-color); /* 改变颜色 */
  transform: translateY(-50%) scale(1.1); /* 放大 */
}

.hidden {
  display: none;
}

.loadMoreControl {
  display: flex;
  justify-content: center;
  font-size: 16px;
  gap: 10px;
}
