.form {
  position: relative;
  background-color: var(--mars-theme-color);
  padding-block: 20px;
  border-radius: 5px;

  .editBtn {
    position: absolute;
    top: 20px;
    right: 10%;
    transition: top 0.3s;
  }
  h3 {
    line-height: 40px;
    margin-inline: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--mars-theme-card-border-color);
    color: var(--mars-theme-text-color);
  }
  .delBtn {
    padding: 20px;
    margin-left: 15%;
  }
}
