.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  color: #fff;
  width: 255px;
  img {
    max-width: 80%;
    max-height: 80%;
  }
}
.logoName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
